<div class="main-wrapper">
    <div class="left"></div>
    <main>
        <div class="main__video">
            
            <div *ngIf="video==true" class="main__video-container">
                <!-- <video *ngIf="video==true" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                    <source [src]='VideoUrl'  type="video/mp4">
                </video> -->
<iframe  width="560" height="315" [src]='VideoUrl|safe'  allowfullscreen></iframe>
            </div>
            <div class="main__description">
                <h2>{{data.VideoTitle}}</h2>
                <div id="flex">
                    <p>{{data.Views}} views</p>
                    <div >
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        {{data.Likes}}
                        <i class="fa fa-thumbs-down"></i>
                        {{data.Dislikes}}
                        <i class="fa fa-share"></i>
                        Share
                        <i id="i" class="fa fa-ellipsis-v"></i>
                    </div>

                </div>
                <!-- <a >
                    <img src="../../../assets/img/describe-icons.jpg" alt="describe-icons" >
                </a> -->
            </div>
            <div class="main__sub-description">
                <div id="sub">
                    <div id="user" >
                        <img id="img2" class="main__name"  src="{{data.ChannelImageUrl}}" alt="">
                         <p id="p" ><b>{{data.ChannelName}} <br> <span id="sus">{{data.Subscribers}} Subscribers</span></b> </p>  
                         

                    </div>
                    <img class="main__subscriptions" src="../../../assets/img/pngwing.com.png" alt="subscriptions">
                </div><br>
                <!-- <img class="main__name" src="../../../assets/img/describe-name.jpg" alt="name"> -->
                <a >
                </a> 
                <p>Stephen A. Smith gives his best sales pitch for Kevin Durant to sign with the New York Knicks ahead of 2019 NBA free agency, saying KD would get whatever he desired courtesy of James Dolan..</p>
            </div>
            <div class="main__more">
                <a  >
                    <p>SHOW MORE</p>
                </a>
            </div>
        </div>
        <aside class="aside">
            <div class="aside__top-container">
                <p>Up next</p>
                <a >AUTOPLAY</a>
            </div>
            <!-- <img  class="aside__video" src="../../../assets/img/aside-pic.jpg" alt="Next video"> -->
           <ng-container *ngFor="let list of alldata ">
               <div (click)="play(list._id)" id="div">
                   <img  class="aside__video" src="{{list.Thumbnail}}" alt="Next video">
                   <h4>{{list.VideoTitle}}</h4>
               </div>
           </ng-container>
            <div class="aside__more">
                <a >SHOW MORE</a>
            </div>
        </aside>

        <section>
            <div>
                <div class="section__comments">
                    <p>6,806 Comments</p>
                </div>
                <div class="section__sort-container">
                    <a >
                        <img src="../../../assets/img/sort.jpg" alt="sort comments">
                        <p>SORT BY</p>
                    </a>
                </div>
                <div class="section__profile">
                    <img src="../../../assets/img/profile_icon.png" alt="profile_icon"> 
                </div>
                <div class="input__container">
                    <form>
                        <input type="text" name="comment" id="comment" value="Add a public comment...">
                    </form>
                </div>
            </div>
            <div>
                <div class="comments">
                    <img src="../../../assets/img/profile_icon.png" alt="profile icon" width="50">
                    <p class="comments__name">John Snow <a >10 months ago</a> </p>
                    <p class="comments__comment">Stephen A will do anything he possibly can to get KD on the Knicks 😂.</p>
                    <div class="likes">
                        <a >
                            <img src="../../../assets/img/like.jpg" alt="like">
                        </a>
                        <p class="comments__text">1K</p>
                        <a >
                            <img src="../../../assets/img/dislike.jpg" alt="dislike">
                        </a>
                        <a  class="comments__text">REPLY</a>
                    </div>
                    <a  class="comments_replies">View all 7 replies</a>
                </div>
                <div class="comments">
                    <img src="../../../assets/img/profile_icon.png" alt="profile icon" width="50">
                    <p class="comments__name">Arya Stark <a >10 months ago</a> </p>
                    <p class="comments__comment">Stephen A will do anything he possibly can to get KD on the Knicks 😂.</p>
                    <div class="likes">
                        <a >
                            <img src="../../../assets/img/like.jpg" alt="like">
                        </a>
                        <p class="comments__text">1K</p>
                        <a >
                            <img src="../../../assets/img/dislike.jpg" alt="dislike">
                        </a>
                        <a  class="comments__text">REPLY</a>
                    </div>
                    <a  class="comments_replies">View all 7 replies</a>
                </div>
                <div class="comments">
                    <img src="../../../assets/img/profile_icon.png" alt="profile icon" width="50">
                    <p class="comments__name">Tyrion Lannister <a >10 months ago</a> </p>
                    <p class="comments__comment">Stephen A will do anything he possibly can to get KD on the Knicks 😂.</p>
                    <div class="likes">
                        <a >
                            <img src="../../../assets/img/like.jpg" alt="like">
                        </a>
                        <p class="comments__text">1K</p>
                        <a >
                            <img src="../../../assets/img/dislike.jpg" alt="dislike">
                        </a>
                        <a  class="comments__text">REPLY</a>
                    </div>
                    <a  class="comments_replies">View all 7 replies</a>
                </div>
                <div class="comments">
                    <img src="../../../assets/img/profile_icon.png" alt="profile icon" width="50">
                    <p class="comments__name">Mark Snow <a >10 months ago</a> </p>
                    <p class="comments__comment">Stephen A will do anything he possibly can to get KD on the Knicks 😂.</p>
                    <div class="likes">
                        <a >
                            <img src="../../../assets/img/like.jpg" alt="like">
                        </a>
                        <p class="comments__text">1K</p>
                        <a >
                            <img src="../../../assets/img/dislike.jpg" alt="dislike">
                        </a>
                        <a  class="comments__text">REPLY</a>
                    </div>
                    <a  class="comments_replies">View all 7 replies</a>
                </div>
                <div class="comments">
                    <img src="../../../assets/img/profile_icon.png" alt="profile icon" width="50">
                    <p class="comments__name">Lord Varys <a >10 months ago</a> </p>
                    <p class="comments__comment">Stephen A will do anything he possibly can to get KD on the Knicks 😂.</p>
                    <div class="likes">
                        <a >
                            <img src="../../../assets/img/like.jpg" alt="like">
                        </a>
                        <p class="comments__text">1K</p>
                        <a >
                            <img src="../../../assets/img/dislike.jpg" alt="dislike">
                        </a>
                        <a  class="comments__text">REPLY</a>
                    </div>
                    <a  class="comments_replies">View all 7 replies</a>
                </div>
            </div>
        </section>

    </main>
</div>