<Div Class="Videos">
    <H1>Recommended</H1>

    <Div Class="Videos__container">
      <!-- Single Video Starts -->
      <Div  routerLink="/main/watch" Class="Video">
        <Div (mouseover)="click()" Class="Video__thumbnail">
          <Img *ngIf="show==true" Src="https://i.ytimg.com/an_webp/vzk5DCFJr8c/mqdefault_6s.webp?du=3000&sqp=CKiKpJ4G&rs=AOn4CLAynnUt3cN54qS_k7BZm_mIxCClXA" Alt="" />
          <Img *ngIf="show==false" Src="https://img.youtube.com/vi/vzk5DCFJr8c/maxresdefault.jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img Src="Http://Aninex.Com/Images/Srvc/Web_de_icon.Png" Alt="" />
          </Div>
          <Div Class="Title">
            <H3>Top 5 Programming Languages 2023 | Which Programming Language to Learn in 2023? | Simplilearn
            </H3>
            <A Href="">FutureCoders</A>
            <Span>10M Views • 3 Months Ago</Span>
          </Div>
        </Div>
      </Div>
      <!-- Single Video Ends -->

      <!-- Single Video Starts -->
      <Div routerLink="/main/watch" Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/YpTmcCBBdTE/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img Src="Http://Aninex.Com/Images/Srvc/Web_de_icon.Png" Alt="" />
          </Div>
          <Div Class="Title">
            <H3>Build A Password Generator With React JS - Beginners Tutorial</H3>
            <A Href="">FutureCoders</A>
            <Span>10M Views • 3 Months Ago</Span>
          </Div>
        </Div>
      </Div>
      <!-- Single Video Ends -->

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/46cXFUzR9XM/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnh53ZRIGnyzC28QrfuggCINb3cfNbNWo4Uc6qR9=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Bella Ciao Full Song | La Casa De Papel | Money Heist | Netflix India</H3>
            <A Href="">Netflix</A>
            <Span>10M Views • 11 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/D2na6sCyM5Q/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnhESPVEatju_1yE-03-KLeSrnSLc5yy0RcvhPd5Lg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>DON'T EVER GIVE UP - Elon Musk (Motivational Video)</H3>
            <A Href=""> Chispa Motivation</A>
            <Span>10M Views • 1 Month Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/2Ji-ClqUYnA/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwniaHN7MZyFEiNvdHuKMzIWnDF604Z2--O4GCMq-FA=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Javascript Fundamentals</H3>
            <A Href="">Coding Addict</A>
            <Span>179K • 8 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/3PHXvlpOkf4/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Build 15 JavaScript Projects - Vanilla JavaScript Course</H3>
            <A Href=""> FreeCodeCamp.Org </A>
            <Span>470K Views • 8 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/CVClHLwv-4I/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnhIz_0Su6HhW6Ym50QCroJCAnF10X9xnnMDboN2=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Build Real Time Face Detection With JavaScript</H3>
            <A Href=""> Web Dev Simplified </A>
            <Span>875K Views • 1 Year Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/UlprqHHWlng/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>AWS Basics For Beginners - Full Course</H3>
            <A Href=""> FreeCodeCamp.Org </A>
            <Span>36K Views • 1 Day Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/PpXUTUXU7Qc/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img Src="Http://Aninex.Com/Images/Srvc/Web_de_icon.Png" Alt="" />
          </Div>
          <Div Class="Title">
            <H3>
              Top 5 Programming Languages To Learn In 2021 | Best Programming Languages To Learn
            </H3>
            <A Href="">FutureCoders</A>
            <Span>10M Views • 3 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/YpTmcCBBdTE/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img Src="Http://Aninex.Com/Images/Srvc/Web_de_icon.Png" Alt="" />
          </Div>
          <Div Class="Title">
            <H3>Build A Password Generator With React JS - Beginners Tutorial</H3>
            <A Href="">FutureCoders</A>
            <Span>10M Views • 3 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/46cXFUzR9XM/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnh53ZRIGnyzC28QrfuggCINb3cfNbNWo4Uc6qR9=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Bella Ciao Full Song | La Casa De Papel | Money Heist | Netflix India</H3>
            <A Href="">Netflix</A>
            <Span>10M Views • 11 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/D2na6sCyM5Q/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnhESPVEatju_1yE-03-KLeSrnSLc5yy0RcvhPd5Lg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>DON'T EVER GIVE UP - Elon Musk (Motivational Video)</H3>
            <A Href=""> Chispa Motivation</A>
            <Span>10M Views • 1 Month Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/2Ji-ClqUYnA/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwniaHN7MZyFEiNvdHuKMzIWnDF604Z2--O4GCMq-FA=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Javascript Fundamentals</H3>
            <A Href="">Coding Addict</A>
            <Span>179K • 8 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/3PHXvlpOkf4/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Build 15 JavaScript Projects - Vanilla JavaScript Course</H3>
            <A Href=""> FreeCodeCamp.Org </A>
            <Span>470K Views • 8 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/CVClHLwv-4I/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnhIz_0Su6HhW6Ym50QCroJCAnF10X9xnnMDboN2=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Build Real Time Face Detection With JavaScript</H3>
            <A Href=""> Web Dev Simplified </A>
            <Span>875K Views • 1 Year Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/UlprqHHWlng/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>AWS Basics For Beginners - Full Course</H3>
            <A Href=""> FreeCodeCamp.Org </A>
            <Span>36K Views • 1 Day Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/PpXUTUXU7Qc/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img Src="Http://Aninex.Com/Images/Srvc/Web_de_icon.Png" Alt="" />
          </Div>
          <Div Class="Title">
            <H3>
              Top 5 Programming Languages To Learn In 2021 | Best Programming Languages To Learn
            </H3>
            <A Href="">FutureCoders</A>
            <Span>10M Views • 3 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/YpTmcCBBdTE/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img Src="Http://Aninex.Com/Images/Srvc/Web_de_icon.Png" Alt="" />
          </Div>
          <Div Class="Title">
            <H3>Build A Password Generator With React JS - Beginners Tutorial</H3>
            <A Href="">FutureCoders</A>
            <Span>10M Views • 3 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div  Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/46cXFUzR9XM/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnh53ZRIGnyzC28QrfuggCINb3cfNbNWo4Uc6qR9=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Bella Ciao Full Song | La Casa De Papel | Money Heist | Netflix India</H3>
            <A Href="">Netflix</A>
            <Span>10M Views • 11 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/D2na6sCyM5Q/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnhESPVEatju_1yE-03-KLeSrnSLc5yy0RcvhPd5Lg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>DON'T EVER GIVE UP - Elon Musk (Motivational Video)</H3>
            <A Href=""> Chispa Motivation</A>
            <Span>10M Views • 1 Month Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/2Ji-ClqUYnA/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwniaHN7MZyFEiNvdHuKMzIWnDF604Z2--O4GCMq-FA=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Javascript Fundamentals</H3>
            <A Href="">Coding Addict</A>
            <Span>179K • 8 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/3PHXvlpOkf4/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Build 15 JavaScript Projects - Vanilla JavaScript Course</H3>
            <A Href=""> FreeCodeCamp.Org </A>
            <Span>470K Views • 8 Months Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/CVClHLwv-4I/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnhIz_0Su6HhW6Ym50QCroJCAnF10X9xnnMDboN2=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>Build Real Time Face Detection With JavaScript</H3>
            <A Href=""> Web Dev Simplified </A>
            <Span>875K Views • 1 Year Ago</Span>
          </Div>
        </Div>
      </Div>

      <Div Class="Video">
        <Div Class="Video__thumbnail">
          <Img Src="Https://Img.Youtube.Com/Vi/UlprqHHWlng/Maxresdefault.Jpg" Alt="" />
        </Div>
        <Div Class="Video__details">
          <Div Class="Author">
            <Img
              Src="Https://Yt3.Ggpht.Com/Ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=S48-C-K-C0x00ffffff-No-Rj"
              Alt=""
            />
          </Div>
          <Div Class="Title">
            <H3>AWS Basics For Beginners - Full Course</H3>
            <A Href=""> FreeCodeCamp.Org </A>
            <Span>36K Views • 1 Day Ago</Span>
          </Div>
        </Div>
      </Div>
    </Div>
  </Div>