// #slide{
//     position: relative;
// }
#compo{
     Background-Color: #F9f9f9;
    Width: 100%;
    Height: 100%;
    // Padding: 15px 15px;
    Border-Top: 1px Solid #Ddd;
    Overflow-Y: Scroll;
}