<div id="flexshorts">
<div id="flexitem">
    <div >
        <iframe src="../../../assets/video/20-vs-13000-bottle-let-s-try-ytshorts.savetube.me.mp4" frameborder="0"></iframe>
    </div>
    <div id="iconflex">
        <div>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i><br>
            6.6M<br><br>
            <i class="fa fa-thumbs-down"></i><br>
            3.3K<br><br>
            <i class="fa fa-comment"></i><br>
            1M
            <br><br>
            <i class="fa fa-share"></i><br>
            Share<br><br>
            <i id="i" class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
</div>